<div id="fade">
</div>

<div id="popup">
  Thanks!<br>
  I'll be in touch.
</div>

<div class="new_visitor">
<%= form_for @visitor do |f| %>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br>

  <%= f.label :company %><br>
  <%= f.text_field :company %><br>

  <%= f.submit %>
<% end %>

</div>


<script type="text/javascript">

  var hide = function(){
    $("#fade").fadeOut();
    $("#popup").fadeOut();
  }

  $("form").on("submit", function(e) {
    e.preventDefault();
    $.ajax({ 
      type: "POST",
      url:"/visitors",
      data: { visitor: { 
        first_name: $("#visitor_first_name").val(),
        last_name: $("#visitor_last_name").val(),
        email: $("#visitor_email").val(),
        company: $("#visitor_company").val()}
      }
    })
    .success(function(){
      $("#fade").fadeIn();
      $("#popup").fadeIn();
      $("form")[0].reset();
      window.setTimeout(hide, 2000);
      })
    });


</script>