<!DOCTYPE html>
<html>
<head>
  <title>Info</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
<header><%= link_to("Log Out #{User.find_by(id:session[:user_id]).first_name}", "/sessions", method:"delete") unless session[:user_id].nil? %></header>
<%= yield %>

</body>
</html>
